## SVM Model (Testing on small data)

In [1]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
from sklearn.utils import shuffle
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv')
print("Success!")

Reading Datafile...
Success!

In [3]:
train_set = checkpoint5.sample(n=500, replace=False)
train_idx = list(train_set.index)
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
43984249,4.5,-74.003708,40.748241,-73.995046,40.750038,1,08:40:32,5,True,0,0,1,0.756539
26266274,3.3,-73.976110,40.788247,-73.974665,40.790917,2,17:03:00,6,True,0,0,0,0.320847
42617332,10.0,-73.973300,40.747202,-73.958185,40.773258,2,07:30:18,2,False,0,1,0,3.164645
51073330,5.3,-74.006092,40.748488,-73.999893,40.738452,2,19:29:00,4,True,0,0,1,1.232105
49812056,25.3,-73.970233,40.794217,-73.870458,40.773670,1,08:01:00,6,True,0,0,0,8.705643
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42630981,18.9,-73.987917,40.780153,-73.977747,40.725452,1,15:15:00,4,True,0,1,0,6.142503
50163683,4.0,-73.983285,40.781575,-73.978478,40.788138,1,23:47:03,4,True,0,0,0,0.834484
52327846,5.5,-73.952374,40.768893,-73.963952,40.772128,2,11:46:53,4,True,0,0,1,1.039240
1218857,4.5,-73.993915,40.771175,-74.000278,40.758518,1,12:04:00,5,True,0,0,0,1.505964
43500191,7.7,-73.963483,40.757275,-73.950522,40.783475,1,11:56:00,6,True,0,0,0,3.111054

In [4]:
print("Saving Index...")
with open("train_idx_SMALL.txt", "w") as output:
    output.write(str(train_idx))
    output.close()

Saving Index...

In [5]:
train_set = shuffle(train_set)
train_set = train_set.reset_index(drop=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,13.0,-73.994751,40.718506,-74.000572,40.747566,1,21:35:25,3,False,0,0,0,3.268379
1,14.9,-74.004458,40.724987,-73.991410,40.729897,1,05:44:31,3,False,0,0,0,1.227593
2,4.1,-73.991197,40.770237,-73.987697,40.779077,1,19:19:11,6,True,0,0,0,1.026196
3,11.5,-73.977305,40.752002,-73.981975,40.772032,2,13:55:29,4,True,0,0,1,2.261697
4,8.5,-74.005783,40.745361,-73.998566,40.729729,1,19:47:17,3,False,0,0,1,1.841562
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,-73.983285,40.781575,-73.978478,40.788138,1,23:47:03,4,True,0,0,0,0.834484
496,3.3,-73.962399,40.767193,-73.966469,40.769640,2,18:13:19,0,False,0,1,0,0.437623
497,7.0,-74.001115,40.749007,-74.000765,40.742122,1,12:44:00,2,False,0,0,0,0.766145
498,9.5,-73.974670,40.742069,-73.992218,40.749100,2,11:25:08,6,True,0,0,0,1.672244
499,6.9,-73.972013,40.794522,-73.957945,40.785002,1,15:04:00,6,True,0,0,0,1.588474

In [6]:
checkpoint5 = checkpoint5.reset_index(drop=True)
checkpoint5

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125439,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125440,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125441,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125442,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125443,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [7]:
print("Obtaining label...")
cols = 'fare_amount'
label = train_set[[cols]]
label
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [8]:
# del checkpoint5['dist']
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']

In [9]:
train_set.head(20)

    passenger_count  day  weekend  holiday  peak_hour  hotspot       dist
0                 1    3    False        0          0        0   3.268379
1                 1    3    False        0          0        0   1.227593
2                 1    6     True        0          0        0   1.026196
3                 2    4     True        0          0        1   2.261697
4                 1    3    False        0          0        1   1.841562
5                 1    4     True        0          0        0   5.916631
6                 1    6     True        0          0        0   4.695881
7                 1    0    False        0          1        1   3.014058
8                 1    5     True        0          0        0   5.811581
9                 1    4     True        0          0        0   2.659241
10                1    1    False        0          0        0  10.940244
11                1    1    False        0          0        1   1.274558
12                1    1    False        0          0        0   0.714028
13                5    3    False        0          1        0   1.670442
14                1    1    False        0          0        0   1.344358
15                1    4     True        0          0        0   4.974755
16                1    6     True        0          0        0   0.580813
17                1    5     True        0          0        0   0.361147
18                2    3    False        0          0        1   1.450498
19                1    3    False        0          0        0   2.251321

In [10]:
print("Dropped columns!")

Dropped columns!

In [11]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
print('Splitting Dataset...')
# X_train, X_test, y_train, y_test = train_test_split(train_set, label, test_size = 0, shuffle=True)
X_train = train_set
y_train = label
print("Dataset splitted!")

Splitting Dataset...
Dataset splitted!

### Preparing Test set

In [12]:
print("Obtaining label...")
cols = 'fare_amount'
y_test = checkpoint5[[cols]]
y_test
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [13]:
del checkpoint5['time']
del checkpoint5['fare_amount']
del checkpoint5['pickup_longitude']
del checkpoint5['pickup_latitude']
del checkpoint5['dropoff_longitude']
del checkpoint5['dropoff_latitude']

In [14]:
X_test = checkpoint5

### Normalising the values

In [15]:
X_sc = StandardScaler()
y_sc = StandardScaler()

In [16]:
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

In [17]:
print('Fitting the model...')
regressor = SVR(kernel = 'rbf')
t0 = time.time()
regressor.fit(X_train, y_train.ravel())
t1 = time.time()
print('Succeeded in fitting model!')

Fitting the model...
Succeeded in fitting model!

In [18]:
print("Saving model...")

with open('WithDist_SVM/Dist_SVM_Experiment_500.pkl', 'wb') as f:

   pickle.dump(regressor, f)

print("Saved model!")

Saving model...
Saved model!

In [ ]:
print('Predicting...')
y_pred = regressor.predict(X_sc.transform(X_test))
t2 = time.time()
y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
print('Predicted all!')
print(y_pred)

In [ ]:
y_test = y_test.to_numpy()

In [ ]:
y_test = y_test.flatten()
y_pred = y_pred.flatten()
y_test_series = pd.Series(y_test)
y_pred_series = pd.Series(y_pred)
df = pd.DataFrame({'Predicted value': y_pred, 'Real Value': y_test})
df
df.to_csv('WithDist_SVM/Dist_predictions_SVR540000.csv',index=False )

In [ ]:
time_train = t1-t0
time_predict = t2-t1

#Get Report
print("Score for classifier:", r2_score(y_test,y_pred))
print ("Time taken to train:", time_train)
print("Time taken to predict",time_predict)
print("Mean square error is -> ",mean_squared_error(y_test, y_pred))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean absolute error is -> ",mean_absolute_error(y_test, y_pred))

# Save report 
report = { 
    'version': 'SVM with Dist',
    'number_rows': 540000,
    'train time':time_train,
    'predict time': time_predict,
    'r2_score': r2_score(y_test,y_pred),
    'MSE': mean_squared_error(y_test, y_pred),
    'RMSE': math.sqrt(mean_squared_error(y_test, y_pred)),
    'MAE': mean_absolute_error(y_test, y_pred)}

final_report = pd.DataFrame.from_dict(report.items())
final_report.to_csv('WithDist_SVM/report_SVR540000.csv',index=False )

In [ ]:
# with open('WithDist_SVM/Dist_SVM_Experiment_540000.pkl', 'rb') as f:

#    regressor = pickle.load(f)

In [ ]:
# X_sc = StandardScaler()
# y_sc = StandardScaler()
# print('Predicting...')
# y_pred = regressor.predict(X_sc.transform(X_test))
# t2 = time.time()
# y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
# print('Predicted all!')
# print(y_pred)