## SVM Model

In [3]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
from sklearn.utils import shuffle
import ast
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [4]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint5_traffic.csv')
print("Success!")

Reading Datafile...
Success!

In [5]:
train_set = checkpoint5.sample(n=540000, replace=False)
train_idx = list(train_set.index)
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
train_set

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
2178904,-73.992532,40.753437,-73.976027,40.754995,1,16:37:00,6,1,0,0,1,1.401002,6.5,0.700000
44095956,-73.982932,40.743703,-74.009815,40.706967,5,06:47:00,1,0,0,0,0,4.670981,9.3,0.083333
11009454,-74.006246,40.707758,-74.003404,40.706377,1,00:32:21,6,1,0,0,0,0.284549,8.1,0.400000
41099922,-73.988747,40.769119,-73.978020,40.713505,2,21:52:50,5,1,0,0,0,6.249733,22.5,0.400000
32365236,-73.978322,40.724840,-73.974197,40.756947,6,11:59:00,0,0,1,0,1,3.587010,7.3,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31662441,-73.865265,40.771140,-73.729970,40.766757,2,20:21:10,3,0,0,0,0,11.404066,36.5,0.083333
23434751,-74.006498,40.732333,-73.990469,40.728602,1,17:29:54,3,0,0,1,0,1.412918,6.9,0.383333
34380792,-73.974243,40.742992,-73.972075,40.747267,5,19:03:00,4,1,0,0,0,0.509238,3.3,0.400000
40534361,-74.006920,40.741224,-73.997606,40.721913,2,19:53:27,3,0,0,0,0,2.286209,13.0,0.083333
4465607,-73.990238,40.766400,-74.006858,40.729990,1,23:52:00,3,0,0,0,0,4.283853,11.3,0.083333

In [6]:
print("Saving Index...")
with open("train_idx_traffic.txt", "w") as output:
    output.write(str(train_idx))
    output.close()

Saving Index...

In [7]:
train_set = shuffle(train_set)
train_set = train_set.reset_index(drop=True)
train_set

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.953688,40.785168,-73.969588,40.763302,1,19:19:24,2,0,0,0,0,2.775656,9.0,0.083333
1,-73.782040,40.644765,-74.027790,40.638042,1,21:16:15,5,1,0,0,0,20.748573,48.1,0.400000
2,-73.953506,40.771828,-73.982208,40.752136,1,13:26:06,5,1,0,0,0,3.261561,13.0,0.400000
3,-74.006090,40.739882,-73.825185,40.755185,2,00:48:00,6,1,0,0,0,15.334231,38.5,0.400000
4,-73.991274,40.760285,-74.000864,40.747304,1,17:57:36,0,0,1,1,0,1.654083,5.5,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539995,-73.999434,40.731078,-73.984679,40.722595,1,22:50:17,0,0,0,0,0,1.560668,9.0,0.083333
539996,-73.967096,40.752880,-73.978524,40.756582,1,09:34:16,1,0,0,0,0,1.046920,4.9,0.083333
539997,-73.959938,40.758120,-73.959658,40.766900,1,15:28:43,2,0,0,1,0,0.976576,5.5,0.383333
539998,-73.946381,40.792423,-73.942192,40.803448,1,07:58:05,0,0,0,1,0,1.275562,5.5,0.383333
539999,-73.960105,40.773730,-73.955393,40.780340,1,15:03:00,3,0,0,1,0,0.835252,5.3,0.383333

In [8]:
checkpoint5 = checkpoint5.reset_index(drop=True)
checkpoint5

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,4.5,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,16.9,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,5.7,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,7.7,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,5.3,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53585939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,14.0,0.400000
53585940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,4.2,0.083333
53585941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,14.1,0.400000
53585942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,28.9,0.083333
53585943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,7.5,0.400000

In [9]:
print("Obtaining label...")
cols = 'fare_amount'
label = train_set[[cols]]
label
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [10]:
# del checkpoint5['dist']
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']

In [11]:
train_set.head(20)

,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,1,2,0,0,0,0,2.775656,0.083333
1,1,5,1,0,0,0,20.748573,0.400000
2,1,5,1,0,0,0,3.261561,0.400000
3,2,6,1,0,0,0,15.334231,0.400000
4,1,0,0,1,1,0,1.654083,0.700000
5,2,3,0,0,0,0,9.200667,0.083333
6,1,2,0,0,0,0,0.026275,0.083333
7,2,5,1,0,0,0,2.094703,0.400000
8,2,6,1,0,0,0,1.433950,0.400000
9,1,3,0,0,1,0,2.665871,0.383333
10,2,2,0,0,0,0,5.083111,0.083333
11,3,3,0,0,1,1,1.923045,0.683333
12,1,3,0,0,1,0,1.504784,0.383333
13,1,0,0,0,1,0,1.075075,0.383333
14,2,0,0,0,1,0,2.015187,0.383333
15,1,5,1,0,0,0,0.883261,0.400000
16,2,5,1,0,0,1,1.416443,0.700000
17,1,1,0,0,0,0,3.402134,0.083333
18,1,3,0,0,0,0,4.015832,0.083333
19,3,5,1,0,0,0,2.781248,0.400000

In [12]:
print("Dropped columns!")

Dropped columns!

In [13]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
print('Splitting Dataset...')
# X_train, X_test, y_train, y_test = train_test_split(train_set, label, test_size = 0, shuffle=True)
X_train = train_set
y_train = label
print("Dataset splitted!")

Splitting Dataset...
Dataset splitted!

### Preparing Test set

In [14]:
print("Obtaining label...")
cols = 'fare_amount'
y_test = checkpoint5[[cols]]
y_test
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [15]:
del checkpoint5['time']
del checkpoint5['fare_amount']
del checkpoint5['pickup_longitude']
del checkpoint5['pickup_latitude']
del checkpoint5['dropoff_longitude']
del checkpoint5['dropoff_latitude']

In [16]:
X_test = checkpoint5

### Normalising the values

In [17]:
X_sc = StandardScaler()
y_sc = StandardScaler()

In [18]:
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

In [ ]:
print('Fitting the model...')
regressor = SVR(kernel = 'rbf')
t0 = time.time()
regressor.fit(X_train, y_train.ravel())
t1 = time.time()
print('Succeeded in fitting model!')

Fitting the model...

In [ ]:
print("Saving model...")

with open('WithDist_SVM/Dist_SVM_Experiment_540000_v2_Traffic.pkl', 'wb') as f:

   pickle.dump(regressor, f)

print("Saved model!")

## Load saved model

### Prepare dataset for fitting in model

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv')
print("Success!")

Reading Datafile...
Success!

In [3]:
print("Reading index of train data...") 
with open("train_idx_traffic.txt") as file:
    train_idx_str = file.read()
    file.close()

train_idx = ast.literal_eval(train_idx_str)
print("Length of the train indexes is...", len(train_idx))
print(train_idx[0])

Reading index of train data...
Length of the train indexes is... 540000
17094116

In [4]:
print("Getting dataframe of train set...")
train_set = checkpoint5.loc[train_idx]
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
print("Seperated dataframe for both train and test")

Getting dataframe of train set...
Seperated dataframe for both train and test

In [5]:
print("Obtaining labels for train set...")
cols = 'fare_amount'
y_train = train_set[[cols]]
print("Obtained labels!")
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']
print("Train set is ready!")

Obtaining labels for train set...
Obtained labels!
Train set is ready!

In [6]:
X_train = train_set

In [7]:
X_train

,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist
17094116,1,3,False,0,0,1,0.696993
53649197,1,5,True,0,0,0,1.594699
38088232,5,1,False,0,1,0,3.154141
29785639,1,2,False,0,0,0,2.620846
24305630,1,1,False,0,0,0,6.734819
...,...,...,...,...,...,...,...
12888383,1,6,True,0,0,1,4.731678
38936098,1,3,False,0,1,0,3.661563
189012,2,6,True,0,0,0,4.128879
37063756,5,3,False,0,1,0,18.904935
39903229,3,5,True,0,0,0,2.081787

In [8]:
y_train

          fare_amount
17094116         4.50
53649197         4.90
38088232        10.90
29785639         7.30
24305630        27.00
...               ...
12888383        14.50
38936098        11.70
189012           6.10
37063756        57.54
39903229         6.10

[540000 rows x 1 columns]

### Test set preparation 10825189 rows only

In [9]:
print("Obtaining samples from huge test set...")
test_set = checkpoint5.sample(n=10825189, replace=False)
print("Obtained test set!")

Obtaining samples from huge test set...
Obtained test set!

In [10]:
print("Obtaining labels for test set...")
cols = 'fare_amount'
y_test = test_set[[cols]]
print("Obtained labels!")
del test_set['time']
del test_set['fare_amount']
del test_set['pickup_longitude']
del test_set['pickup_latitude']
del test_set['dropoff_longitude']
del test_set['dropoff_latitude']
print("Test set is ready!")

Obtaining labels for test set...
Obtained labels!
Test set is ready!

In [11]:
X_test = test_set

In [12]:
X_test

          passenger_count  day  weekend  holiday  peak_hour  hotspot      dist
52885951                1    3    False        0          0        0  3.146507
17767819                1    3    False        0          1        0  2.636226
50859840                1    2    False        0          1        0  1.644529
32845263                1    5     True        0          0        0  2.500767
25760624                2    6     True        0          0        0  1.809844
...                   ...  ...      ...      ...        ...      ...       ...
23781631                1    1    False        0          0        1  4.811584
19377778                5    4     True        0          0        0  2.418924
36610696                1    5     True        0          0        0  2.330769
51331868                5    4     True        0          0        0  2.120057
29291221                1    3    False        0          0        1  3.309603

[10825189 rows x 7 columns]

In [13]:
y_test

          fare_amount
52885951          9.7
17767819          7.7
50859840          4.9
32845263          8.5
25760624          6.5
...               ...
23781631         14.5
19377778         12.1
36610696          6.9
51331868          7.3
29291221          9.0

[10825189 rows x 1 columns]

### Load Model

In [14]:
with open('WithDist_SVM/Dist_SVM_Experiment_540000_v2.pkl', 'rb') as f:

    regressor = pickle.load(f)

In [15]:
print("Fitting...")
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

print('Predicting...')
y_pred = regressor.predict(X_sc.transform(X_test))
t2 = time.time()
print("Inversely Transforming value data ")
y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
print('Predicted all!')
print(y_pred)

Fitting...
Predicting...
Inversely Transforming value data
Predicted all!
[[10.35504507]
 [ 9.5454811 ]
 [ 7.16231199]
 ...
 [ 8.33188855]
 [ 7.99253101]
 [10.98259544]]

In [16]:
# print('Predicting...')
# y_pred = regressor.predict(X_sc.transform(X_test))
# t2 = time.time()
# y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
# print('Predicted all!')
# print(y_pred)

In [17]:
y_test = y_test.to_numpy()

In [18]:
y_test = y_test.flatten()
y_pred = y_pred.flatten()
y_test_series = pd.Series(y_test)
y_pred_series = pd.Series(y_pred)
df = pd.DataFrame({'Predicted value': y_pred, 'Real Value': y_test})
df
df.to_csv('WithDist_SVM/Dist_predictions_SVR540000.csv',index=False )

In [21]:
# time_train = t1-t0
# time_predict = t2-t1

#Get Report
print("Score for classifier:", r2_score(y_test,y_pred))
# print ("Time taken to train:", time_train)
# print("Time taken to predict",time_predict)
print("Mean square error is -> ",mean_squared_error(y_test, y_pred))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean absolute error is -> ",mean_absolute_error(y_test, y_pred))

# Save report 
report = { 
    'version': 'SVM with Dist',
    'number_rows': 540000,
    # 'train time':time_train,
    # 'predict time': time_predict,
    'r2_score': r2_score(y_test,y_pred),
    'MSE': mean_squared_error(y_test, y_pred),
    'RMSE': math.sqrt(mean_squared_error(y_test, y_pred)),
    'MAE': mean_absolute_error(y_test, y_pred)}

final_report = pd.DataFrame.from_dict(report.items())
final_report.to_csv('WithDist_SVM/report_SVR540000.csv',index=False )

Score for classifier: 0.13442665073084614
Mean square error is ->  390.77708059833355
Root Mean square error is ->  19.768082370284013
Mean absolute error is ->  2.401078771735941

In [ ]:
# with open('WithDist_SVM/Dist_SVM_Experiment_540000.pkl', 'rb') as f:

#    regressor = pickle.load(f)

In [ ]:
# X_sc = StandardScaler()
# y_sc = StandardScaler()
# print('Predicting...')
# y_pred = regressor.predict(X_sc.transform(X_test))
# t2 = time.time()
# y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
# print('Predicted all!')
# print(y_pred)