### Test on Kaggle

In [1]:
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
import ast
from tensorflow.keras.applications.resnet import ResNet50
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
model = tf.keras.models.load_model('NN_traffic_density.h5')
model

In [3]:
checkpoint5 = pd.read_csv('../checkpoint5_traffic.csv')
checkpoint5

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,4.5,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,16.9,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,5.7,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,7.7,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,5.3,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,14.0,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,4.2,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,14.1,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,28.9,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,7.5,0.400000

In [4]:
del checkpoint5['fare_amount']
del checkpoint5['time']

In [5]:
checkpoint5

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,1.599203,0.400000

In [6]:
print("scaling...")
#FEATURE SCALING - to scale the data to ensure a suitable range compatible with the model
sc = StandardScaler()
checkpoint_5_scaled = np.array(sc.fit_transform(checkpoint5))
print("successfully scaled...")

scaling...
successfully scaled...

In [7]:
checkpoint_5_scaled

array([[ 0.00917608,  0.00378164,  0.00928066, ..., -0.55809274,
        -0.04141318,  0.08211992],
       [-0.01266349,  0.00244762, -0.00816477, ..., -0.55809274,
         0.04355377,  0.08211992],
       [-0.0084275 ,  0.00910268, -0.00968224, ...,  1.79181689,
        -0.03730463,  0.08211992],
       ...,
       [-0.00687184,  0.00791131, -0.00579099, ..., -0.55809274,
         0.00490786,  0.15875563],
       [-0.00819389,  0.00955007,  0.00560612, ..., -0.55809274,
         0.05381507, -1.29732281],
       [-0.00677227,  0.0139505 , -0.00710239, ..., -0.55809274,
        -0.03490339,  0.15875563]])

In [8]:
print("Reading Datafile...")
test_set = pd.read_csv('../kaggle_test_traffic.csv')
print("Success!")

Reading Datafile...
Success!

In [9]:
test_set

,key,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,2015-01-27 13:08:24.0000002,-73.973320,40.763805,-73.981430,40.743835,1,1,0,0,0,0,2.323260,0.083333
1,2015-01-27 13:08:24.0000003,-73.986862,40.719383,-73.998886,40.739201,1,1,0,0,0,0,2.425353,0.083333
2,2011-10-08 11:53:44.0000002,-73.982524,40.751260,-73.979654,40.746139,1,5,1,0,0,0,0.618628,0.400000
3,2012-12-01 21:12:12.0000002,-73.981160,40.767807,-73.990448,40.751635,1,5,1,0,0,0,1.961033,0.400000
4,2012-12-01 21:12:12.0000003,-73.966046,40.789775,-73.988565,40.744427,1,5,1,0,0,1,5.387301,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9909,2015-05-10 12:37:51.0000002,-73.968124,40.796997,-73.955643,40.780388,6,6,1,0,0,0,2.124874,0.400000
9910,2015-01-12 17:05:51.0000001,-73.945511,40.803600,-73.960213,40.776371,6,0,0,0,1,0,3.270969,0.383333
9911,2015-04-19 20:44:15.0000001,-73.991600,40.726608,-73.789742,40.647011,6,6,1,0,0,0,19.183941,0.400000
9912,2015-01-31 01:05:19.0000005,-73.985573,40.735432,-73.939178,40.801731,6,5,1,0,0,0,8.343486,0.400000
9913,2015-01-18 14:06:23.0000006,-73.988022,40.754070,-74.000282,40.759220,6,6,1,0,0,1,1.180825,0.700000

In [10]:
test_key_series = test_set['key'].squeeze()
del test_set['key']

In [11]:
test_set

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.973320,40.763805,-73.981430,40.743835,1,1,0,0,0,0,2.323260,0.083333
1,-73.986862,40.719383,-73.998886,40.739201,1,1,0,0,0,0,2.425353,0.083333
2,-73.982524,40.751260,-73.979654,40.746139,1,5,1,0,0,0,0.618628,0.400000
3,-73.981160,40.767807,-73.990448,40.751635,1,5,1,0,0,0,1.961033,0.400000
4,-73.966046,40.789775,-73.988565,40.744427,1,5,1,0,0,1,5.387301,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...
9909,-73.968124,40.796997,-73.955643,40.780388,6,6,1,0,0,0,2.124874,0.400000
9910,-73.945511,40.803600,-73.960213,40.776371,6,0,0,0,1,0,3.270969,0.383333
9911,-73.991600,40.726608,-73.789742,40.647011,6,6,1,0,0,0,19.183941,0.400000
9912,-73.985573,40.735432,-73.939178,40.801731,6,5,1,0,0,0,8.343486,0.400000
9913,-73.988022,40.754070,-74.000282,40.759220,6,6,1,0,0,1,1.180825,0.700000

In [12]:
test_set_scaled = np.array(sc.transform(test_set))

In [18]:
# make a prediction
y_pred = model.predict_on_batch(test_set_scaled)
# show the inputs and predicted outputs

In [19]:
y_pred

array([[11.318422],
       [11.318422],
       [11.318422],
       ...,
       [11.318422],
       [11.318422],
       [11.318422]], dtype=float32)

In [20]:
y_pred = y_pred.flatten()

In [21]:
new_y_pred= []
for a in y_pred: 
    new_value = float("%.2f" % a)
    new_y_pred.append(new_value)
y_pred_series = pd.Series(new_y_pred)
df = pd.DataFrame({'key': test_key_series,'fare_amount': new_y_pred})
df

                              key  fare_amount
0     2015-01-27 13:08:24.0000002        11.32
1     2015-01-27 13:08:24.0000003        11.32
2     2011-10-08 11:53:44.0000002        11.32
3     2012-12-01 21:12:12.0000002        11.32
4     2012-12-01 21:12:12.0000003        11.32
...                           ...          ...
9909  2015-05-10 12:37:51.0000002        11.32
9910  2015-01-12 17:05:51.0000001        11.32
9911  2015-04-19 20:44:15.0000001        11.32
9912  2015-01-31 01:05:19.0000005        11.32
9913  2015-01-18 14:06:23.0000006        11.32

[9914 rows x 2 columns]

In [22]:
df.to_csv('NNPrediction_traffic.csv',index=False )