## SVM Model

In [1]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
from sklearn.utils import shuffle
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv')
print("Success!")

Reading Datafile...
Success!

In [5]:
train_set = checkpoint5.sample(n=540000, replace=False)
train_idx = list(train_set.index)
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
20480866,21.5,-73.989728,40.739508,-73.967667,40.687970,1,19:28:00,2,False,0,0,1,6.024859
7690880,6.5,-73.991953,40.725517,-73.976400,40.739702,4,22:26:00,0,False,1,0,0,2.050671
13922471,4.0,-74.006340,40.716548,-74.003208,40.720542,2,16:06:48,6,True,0,0,0,0.516632
49084524,6.1,-73.990235,40.725334,-74.005989,40.727205,2,01:04:48,5,True,0,0,0,1.343752
52226651,9.5,-73.975405,40.749502,-73.982557,40.763485,1,19:58:00,0,False,0,0,1,1.667458
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43564433,15.7,-73.972535,40.756608,-74.009552,40.711507,2,11:13:00,5,True,0,0,0,5.905775
16122954,12.0,-73.997129,40.725390,-73.977831,40.690266,1,07:01:14,0,False,0,1,0,4.230811
46854802,5.3,-73.983864,40.758307,-73.995434,40.754971,1,16:14:22,0,False,0,1,1,1.042741
10791556,13.3,-73.991437,40.736798,-73.970710,40.760457,3,23:15:00,5,True,0,0,1,3.157452
20138392,5.3,-73.993052,40.725470,-73.989037,40.734830,1,17:41:00,4,True,0,1,1,1.094390

In [6]:
print("Saving Index...")
with open("train_idx.txt", "w") as output:
    output.write(str(train_idx))
    output.close()

Saving Index...

In [7]:
train_set = shuffle(train_set)
train_set = train_set.reset_index(drop=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,10.1,-73.978327,40.724870,-73.984929,40.696163,1,01:55:43,4,True,0,0,0,3.240213
1,6.1,-73.994932,40.755564,-73.994761,40.740220,1,17:07:49,2,False,0,1,0,1.706236
2,4.9,-73.947433,40.779533,-73.943892,40.792788,1,23:05:00,2,False,0,0,0,1.503737
3,6.9,-73.943367,40.810513,-73.943367,40.810513,1,22:36:45,4,True,0,0,0,0.000000
4,6.0,-73.980975,40.782557,-73.983647,40.773667,1,19:58:00,4,True,0,0,0,1.013803
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539995,6.1,-73.974623,40.791067,-73.986652,40.777317,5,18:08:00,0,False,0,1,0,1.833939
539996,13.5,-73.963859,40.768139,-73.982489,40.731593,1,19:00:49,3,False,0,0,0,4.356231
539997,15.7,-73.985728,40.752588,-74.016698,40.704708,1,07:02:00,4,True,0,1,0,5.929206
539998,5.5,-73.954105,40.778827,-73.942203,40.787148,1,16:23:56,6,True,0,0,0,1.363924
539999,7.0,-73.970197,40.784069,-73.970833,40.768227,1,13:43:16,3,False,0,0,0,1.762364

In [8]:
checkpoint5 = checkpoint5.reset_index(drop=True)
checkpoint5

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53045939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
53045940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
53045941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
53045942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
53045943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [9]:
print("Obtaining label...")
cols = 'fare_amount'
label = train_set[[cols]]
label
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [10]:
# del checkpoint5['dist']
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']

In [11]:
train_set.head(20)

    passenger_count  day  weekend  holiday  peak_hour  hotspot       dist
0                 1    4     True        0          0        0   3.240213
1                 1    2    False        0          1        0   1.706236
2                 1    2    False        0          0        0   1.503737
3                 1    4     True        0          0        0   0.000000
4                 1    4     True        0          0        0   1.013803
5                 1    4     True        0          0        0   1.645569
6                 5    4     True        0          0        0   0.982505
7                 1    3    False        0          0        0   0.615676
8                 1    5     True        0          0        0   1.021731
9                 1    6     True        0          0        0   0.000000
10                1    1    False        0          0        0   2.671495
11                3    1    False        0          1        0   4.894065
12                1    1    False        0          1        1   1.129750
13                1    1    False        0          0        1   0.742993
14                1    1    False        0          0        0  10.202655
15                1    3    False        0          0        0   1.055379
16                1    4     True        0          0        0   0.730510
17                1    3    False        1          1        0   7.571220
18                5    1    False        0          0        0   1.543864
19                2    4     True        0          0        0   0.344476

In [12]:
print("Dropped columns!")

Dropped columns!

In [13]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
print('Splitting Dataset...')
# X_train, X_test, y_train, y_test = train_test_split(train_set, label, test_size = 0, shuffle=True)
X_train = train_set
y_train = label
print("Dataset splitted!")

Splitting Dataset...
Dataset splitted!

### Preparing Test set

In [14]:
print("Obtaining label...")
cols = 'fare_amount'
y_test = checkpoint5[[cols]]
y_test
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [15]:
del checkpoint5['time']
del checkpoint5['fare_amount']
del checkpoint5['pickup_longitude']
del checkpoint5['pickup_latitude']
del checkpoint5['dropoff_longitude']
del checkpoint5['dropoff_latitude']

In [16]:
X_test = checkpoint5

### Normalising the values

In [17]:
X_sc = StandardScaler()
y_sc = StandardScaler()

In [18]:
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

In [ ]:
print('Fitting the model...')
regressor = SVR(kernel = 'rbf')
t0 = time.time()
regressor.fit(X_train, y_train.ravel())
t1 = time.time()
print('Succeeded in fitting model!')

Fitting the model...

In [ ]:
print("Saving model...")

with open('WithDist_SVM/Dist_SVM_Experiment_540000_v2.pkl', 'wb') as f:

   pickle.dump(regressor, f)

print("Saved model!")

In [ ]:
print('Predicting...')
y_pred = regressor.predict(X_sc.transform(X_test))
t2 = time.time()
y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
print('Predicted all!')
print(y_pred)

In [ ]:
y_test = y_test.to_numpy()

In [ ]:
y_test = y_test.flatten()
y_pred = y_pred.flatten()
y_test_series = pd.Series(y_test)
y_pred_series = pd.Series(y_pred)
df = pd.DataFrame({'Predicted value': y_pred, 'Real Value': y_test})
df
df.to_csv('WithDist_SVM/Dist_predictions_SVR540000.csv',index=False )

In [ ]:
time_train = t1-t0
time_predict = t2-t1

#Get Report
print("Score for classifier:", r2_score(y_test,y_pred))
print ("Time taken to train:", time_train)
print("Time taken to predict",time_predict)
print("Mean square error is -> ",mean_squared_error(y_test, y_pred))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean absolute error is -> ",mean_absolute_error(y_test, y_pred))

# Save report 
report = { 
    'version': 'SVM with Dist',
    'number_rows': 540000,
    'train time':time_train,
    'predict time': time_predict,
    'r2_score': r2_score(y_test,y_pred),
    'MSE': mean_squared_error(y_test, y_pred),
    'RMSE': math.sqrt(mean_squared_error(y_test, y_pred)),
    'MAE': mean_absolute_error(y_test, y_pred)}

final_report = pd.DataFrame.from_dict(report.items())
final_report.to_csv('WithDist_SVM/report_SVR540000.csv',index=False )

In [ ]:
# with open('WithDist_SVM/Dist_SVM_Experiment_540000.pkl', 'rb') as f:

#    regressor = pickle.load(f)

In [ ]:
# X_sc = StandardScaler()
# y_sc = StandardScaler()
# print('Predicting...')
# y_pred = regressor.predict(X_sc.transform(X_test))
# t2 = time.time()
# y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
# print('Predicted all!')
# print(y_pred)