## SVM Model (Attempt 3 Models)

In [1]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv', nrows=100000)
print("Success!")

Reading Datafile...
Success!

In [3]:
checkpoint5

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,9.3,-73.981351,40.741118,-73.951160,40.779299,1,13:28:43,5,True,0,0,0,4.948787
99996,6.5,-73.998398,40.735434,-74.012604,40.715059,1,06:21:29,3,False,0,0,1,2.562426
99997,15.7,-73.987893,40.775133,-73.991068,40.726864,1,23:15:05,0,False,0,0,0,5.373927
99998,2.9,-73.951209,40.785548,-73.954504,40.781130,1,17:47:28,4,True,0,1,0,0.564180
99999,5.3,-73.972682,40.745037,-73.958290,40.764500,1,08:20:00,6,True,0,0,0,2.480579

In [4]:
model1 = checkpoint5.sample(frac = 0.267)
model2 = checkpoint5.drop(model1.index).sample(frac = 0.267)
model3 = checkpoint5.drop(model1.index).drop(model2.index).sample(frac = 0.267)
overall_test = checkpoint5.drop(model1.index).drop(model2.index).drop(model3.index)

In [5]:
# model1.reset_index()
# model2.reset_index()
# model3.reset_index()

In [6]:
print("Obtaining label for 1...")
cols = 'fare_amount'
label1 = model1[[cols]]
label2 = model2[[cols]]
label3 = model3[[cols]]
overalltest_label = overall_test[[cols]]
print("Obtained labels!")

Obtaining label for 1...
Obtained labels!

In [7]:
# del checkpoint5['dist']
del model1['time']
del model1['fare_amount']
del model1['pickup_longitude']
del model1['pickup_latitude']
del model1['dropoff_longitude']
del model1['dropoff_latitude']

del model2['time']
del model2['fare_amount']
del model2['pickup_longitude']
del model2['pickup_latitude']
del model2['dropoff_longitude']
del model2['dropoff_latitude']

del model3['time']
del model3['fare_amount']
del model3['pickup_longitude']
del model3['pickup_latitude']
del model3['dropoff_longitude']
del model3['dropoff_latitude']

del overall_test['time']
del overall_test['fare_amount']
del overall_test['pickup_longitude']
del overall_test['pickup_latitude']
del overall_test['dropoff_longitude']
del overall_test['dropoff_latitude']

In [8]:
model3.head(20)

       passenger_count  day  weekend  holiday  peak_hour  hotspot       dist
43392                2    2    False        0          1        0   2.333163
66050                2    2    False        0          0        0   1.515202
64033                1    4     True        0          0        1   2.901611
43205                2    3    False        0          0        0   1.234778
19955                2    1    False        0          0        1   1.516078
94688                3    2    False        0          0        0   1.377093
82564                1    5     True        0          0        1   1.426404
79978                2    5     True        0          0        1   1.388649
68898                2    4     True        0          1        0   1.636616
54912                1    1    False        0          0        0   1.200431
18215                1    0    False        0          0        0   1.318899
55827                1    5     True        0          0        0   2.604167
89497                1    1    False        0          0        1   1.755294
1091                 1    6     True        0          0        1   5.743568
15142                1    1    False        0          0        1   2.142021
79002                5    0    False        0          1        0   1.727809
98645                1    5     True        0          0        1   4.234306
42405                3    6     True        0          0        0  20.320909
5848                 6    5     True        0          0        0   2.375955
48078                1    6     True        0          0        0   3.739117

In [9]:
print("Dropped columns!")

Dropped columns!

In [10]:
# # Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
# print('Splitting Dataset...')
# X_train, X_test, y_train, y_test = train_test_split(model1, label, test_size = 0.2)
# print("Dataset splitted!")

### Normalising the values

In [11]:
X_sc1 = StandardScaler()
y_sc1 = StandardScaler()

model1 = X_sc1.fit_transform(model1)
label1 = y_sc1.fit_transform(label1)

print('Fitting the model1...')
regressor1 = SVR(kernel = 'rbf')
regressor1.fit(model1, label1.ravel())
print('Succeeded in fitting model1!')
#--------------------------------------------------

X_sc2 = StandardScaler()
y_sc2 = StandardScaler()

model2 = X_sc2.fit_transform(model2)
label2 = y_sc2.fit_transform(label2)

print('Fitting the model2...')
regressor2 = SVR(kernel = 'rbf')
regressor2.fit(model2, label2.ravel())
print('Succeeded in fitting model2!')
#--------------------------------------------------


X_sc3 = StandardScaler()
y_sc3 = StandardScaler()

model3 = X_sc3.fit_transform(model3)
label3 = y_sc3.fit_transform(label3)

print('Fitting the model2...')
regressor3 = SVR(kernel = 'rbf')
regressor3.fit(model3, label3.ravel())
print('Succeeded in fitting model2!')

#--------------------------------------------------

Fitting the model1...
Succeeded in fitting model1!
Fitting the model2...
Succeeded in fitting model2!
Fitting the model2...
Succeeded in fitting model2!

In [12]:
print('Predicting...for 1 ')
y_pred1 = regressor1.predict(X_sc1.transform(overall_test))
y_pred1 = y_sc1.inverse_transform(y_pred1.reshape(-1, 1))
print('Predicted all!')

print('Predicting...for 2 ')
y_pred2 = regressor2.predict(X_sc2.transform(overall_test))
y_pred2 = y_sc2.inverse_transform(y_pred2.reshape(-1, 1))
print('Predicted all!')

print('Predicting...for 3 ')
y_pred3 = regressor3.predict(X_sc3.transform(overall_test))
y_pred3 = y_sc3.inverse_transform(y_pred3.reshape(-1, 1))
print('Predicted all!')

Predicting...for 1
Predicted all!
Predicting...for 2
Predicted all!
Predicting...for 3
Predicted all!

In [13]:
overalltest_label = overalltest_label.to_numpy()
overalltest_label = overalltest_label.flatten()
y_pred1 = y_pred1.flatten()
y_pred2 = y_pred2.flatten()
y_pred3 = y_pred3.flatten()

In [14]:
print("Length of prediction is:", len(y_pred1))
combined_pred = []
for x in range(len(y_pred1)):
    average = (float("{0:.2f}".format(y_pred1[x])) +  float("{0:.2f}".format(y_pred2[x])) +  float("{0:.2f}".format(y_pred3[x]))) / 3
    combined_pred.append(average)

Length of prediction is: 39383

In [15]:
df = pd.DataFrame({'Predicted value1': y_pred1,'Predicted value2': y_pred2,'Predicted value3': y_pred3, 'Average': combined_pred,'Real Value': overalltest_label})
df
df.to_csv('WithDist_SVM/Dist3Models_predictions_SVR200000.csv',index=False )

In [16]:
#Get Report
print("Score for classifier:", r2_score(combined_pred,overalltest_label))
# print ("Time taken to train:", time_train)
# print("Time taken to predict",time_predict)
print("Mean square error is -> ",mean_squared_error(combined_pred,overalltest_label))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(combined_pred,overalltest_label)))
print("Mean absolute error is -> ",mean_absolute_error(combined_pred,overalltest_label))

# Save report 
report = { 
    'version': 'SVM with Dist',
    'number_rows': 200000,
    'r2_score': r2_score(combined_pred,overalltest_label),
    'MSE': mean_squared_error(combined_pred,overalltest_label),
    'RMSE': math.sqrt(mean_squared_error(combined_pred,overalltest_label)),
    'MAE': mean_absolute_error(combined_pred,overalltest_label)}

final_report = pd.DataFrame.from_dict(report.items())
final_report.to_csv('WithDist_SVM/Dist3Models_report_SVR200000.csv',index=False )

Score for classifier: 0.17792420187777325
Mean square error is ->  42.670202097915904
Root Mean square error is ->  6.532243266896596
Mean absolute error is ->  2.6927670991713852

In [17]:
# with open('SVM_Experiment1.pkl', 'rb') as f:

#    regressor = pickle.load(f)